{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Stories</title>
    <style>
        .white_h2{
            color: white;
        }
    </style>
</head>
<body>
    {% include 'Ebook/navbar.html' %}
    <ul>
        {% for novel in novels %}
            <li><h4><a href="{{ novel.get_absolute_url_write_chapters }}">{{ novel.title }}</a></h2></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_novel' %}"><h2 class="white_h2">Add new novel</h2></a>
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form" method="GET" action="{% url 'search' %}"> {% csrf_token %}
                <input type="text" id="search-input" name="keyword" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>