{% load static %}


<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img src="{% static 'images/logo.png' %}" width="120px" height="50px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="input-group search-holder">
    <meta itemprop="target" content="https://truyenfull.vn/tim-kiem/?tukhoa={tukhoa}">
      <input aria-label="Từ khóa tìm kiếm" role="search key" class="form-control" id="search-input" type="search" name="tukhoa" placeholder="Tìm kiếm..." value="" itemprop="query-input" required="">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" aria-label="Tìm kiếm" role="search">
            <span class="glyphicon glyphicon-search">
            </span>
          </button>
        </div>
      </div>
  {% if request.user.is_authenticated %}
  <span class="hello-msg">Hello, {{request.user.username}}</span>
  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  {% endif %}

  {% if not request.user.is_authenticated %}
  <span ><a  class="hello-msg" href="{% url 'login' %}">Login</a></span>
  {% endif %}

  
</nav>