{% load static %}

<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img src="{% static 'images/logo.png' %}" width="120px" height="50px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      {% if user.userinfo.role == 2 or user.userinfo.role == 1 %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'my_work' %}">Write</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <form class="navbar-form navbar-right" action="{% url 'search' %}" role="search" itemprop="potentialAction" itemscope="" itemtype="https://schema.org/SearchAction">
    <div class="input-group search-holder">
      <input aria-label="Từ khóa tìm kiếm" role="search key" class="form-control" id="search-input" type="search" name="keyword" placeholder="Tìm kiếm..." value="" itemprop="query -input" required="">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" aria-label="Tìm kiếm" role="search"><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>
    <div class="list-group list-search-res hide"></div>
  </form>

  {% if request.user.is_authenticated %}
  <span class="hello-msg">Hello, {{request.user.username}}</span>
  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  {% endif %}

  {% if not request.user.is_authenticated %}
  <span ><a  class="hello-msg" href="{% url 'login' %}">Login</a></span>
  {% endif %}

  
</nav>