<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chapter.title }} - {{ novel.title }}</title>
    <style>
        .container{
            text-align: center;
        }
        p {
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Chương {{ chapter.number }}</h1>
        <h2>{{ chapter.title }}</h2>
        <p>{{ chapter.content }}</p>
    </div>
</body>
</html>