* {
    margin: 0;
    padding: 0;
    border: none;
}
.index-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item {
    position: relative;
    width: 129px;
    height: 192px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.item img {
    width: 129px;
    height: 192px;
    overflow: hidden;
}
.title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 0;

    margin-top: 2px;
    text-align: center;
    color: #f4f4f4;
}
.title h3 {
    font-size: 12px;
    text-shadow: 1px 2px 2px #000;
}
